@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body {
    height: 100vh;
    /* align-items: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-image: url(./img/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333333;
    /* background-size: ; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: rgba(155, 82, 27, 0);
}

.navbar {
    z-index: 100;
}

.media {
    margin-right: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-success {
    z-index: 1000;
}

.item {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item a {
    color: #05B895;
}

.form-control-label,
.form-check-label {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 15.2181px;
    line-height: 18px;
    color: black;
    font-weight: 400;
    margin-bottom: 15px;
}


.form-check {
    margin-left: 10px;
}





.form-control-lg {
    border-radius: 100px;
}

.item-btn .btn-outline-info {
    background-color: #00000000;
    border-radius: 16.3051px;
    border: 1.08701px solid black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.3051px;
    line-height: 19px;
    color: black;
    font-weight: 400;
    font-weight: 400;
}

.item-btn-1 .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #00000000;
    border-radius: 16.3051px;
    border: 1.08701px solid #05B895;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16.3051px;
    line-height: 19px;
    color: #05B895;
    position: relative;
    left: 110px;
}

.item-title {
    white-space: nowrap;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55.4373px;
    line-height: 68px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.item-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-bottom: 15px;
}

.item-form {
    width: 60%;
}

.site-header {
    margin-bottom: 200px;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #05B895;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: • 500;
}

.nav-item {
    margin-right: 10px;
}


#login,
#register,
#resetpas,
#token {
    background: rgba(168, 162, 156, 0.87);
    color: black;
}

#register .item-title {
    font-size: 29px;

}


.content-section {
    margin-top: 3%;
    background: #FFFFFF;
    border-radius: 70.6554px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    padding: 0 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 10px;
}


.form-group {
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;

}




.item-img img {
    width: 400px;
    object-fit: contain;
}

#resetpas .item-title,
#token .item-title {
    font-size: 30px;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* height: 255px; */
    /* top: -120px; */
    /* left: -20px; */
    /* margin: 0 auto; */
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.my-btn {
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 85px;
    left: 23%;
    top: 115%;
    /* horizontally center the button */
    transform: translateX(-50%);
    bottom: 20px;
    /* set the distance from the bottom */
    border: 3px solid black;
    border-radius: 0 50px 50px 75px; 
    background-color: black;
    /* make the button transparent */
}

.my-btn:hover {
    background-color: grey;
    /* змінюємо колір фону при наведенні на білий */
}

.my-btn span {
    position: absolute;
    width: 108px;
    height: 37px;
    left: 50%;
    top: 50%;
    /* vertically center the text */
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.my-btn-1 {
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 85px;
    left: 77%;
    top: 115%;
    /* horizontally center the button */
    transform: translateX(-50%);
    bottom: 20px;
    /* set the distance from the bottom */
    border: 3px solid #05B895;
    border-radius: 0 50px 50px 75px; 
    background-color: #05B895;
    /* make the button transparent */
}

.my-btn-1:hover {
    background-color: #074135;
    /* змінюємо колір фону при наведенні на білий */
}

.my-btn-1 span {
    position: absolute;
    width: 108px;
    height: 37px;
    left: 33%;
    top: 50%;
    /* vertically center the text */
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.navbar-brand-1 img {
    width: 169px;
    height: auto;
    margin-top: 5px;
    margin-left: 30px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reset-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#email .form-control-label, #email2 .form-control-label {
    margin-bottom: 0px;
    color:black;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#password .form-control-label, #password2 .form-control-label, #password3 .form-control-label {
    margin-bottom: 0px;
    color:black;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#username .form-control-label {
    margin-bottom: 0px;
    color:black;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#request .form-control-label {
    margin-bottom: 0px;
    color:black;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.item-title {
    color: black;
}

/* Targeting all spans inside the invalid-feedback div */
.invalid-feedback span {
    color: black;
}

/* Targeting the small element with class "smalltext" */
.smalltext {
    color: black;
}


.hr-border {
    border-top: 1px solid black;
    width: 60%;
    margin-bottom: 10px;
}

#submit, #submit2 {
    margin-top: 5px;
    margin-bottom: 10px;
}