
/* Nav bar */
.panel-body {
    background: #fff9f5;
    /* color: #333333; */
    margin-top: 5rem;
  }
  
  .button-container {
    background-color: #4b791c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    /* position: static; */
  }
  .alert{
    margin-top: 10px;
  }
  /* .container-but{
    position:fixed;
  } */
  .nav-link{
    color: #fff;
    background-color: #57817f;
    font-weight: 500;
  }
  .bg-steel {
    color: #fff;
    background-color: #57817f;
    text-align: center;
    /* font-weight: 700; */
  }
  .navbar{
    height: 62px;
  }
  .header-container {
    /* position: fixed; */
    max-width: 1140px !important;
  }
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffce59;
    transition: background-color 0.3s; 
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #ffce59;
  }

/* Buttons */

.nav_profile {
    margin-top: 100px; /* Adjust margin-top as needed */
    text-align: right;
    margin-right: 100px;
  }
  
  #profile_dropdown {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #a4cfbc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #4b791c;
    cursor: pointer;
  }
  
  #profile_dropdown:hover {
    background-color: #e0e0e0;
  }
  
  #profile_dropdown option {
    padding: 10px;
  }
  
  #profile_dropdown option[disabled] {
    color: #888;
  }
  
  #profile_dropdown option[selected] {
    font-weight: bold;
    background-color: #a4cfbc;
    color: white;
  }
  
  /* Content */

  #content_search {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    border: 2.5px solid #a4cfbc;
    padding: 20px;
  }
  
  #search_title {
    margin-bottom: 40px;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #a4cfbc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

#button_stop {
    margin-top: 50px;
    border: 2.5px solid #a4cfbc;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    transition: background-color 0.3s;
}

#button_stop:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}