
/* Nav bar */
.panel-body {
    background: #fff9f5;
    /* color: #333333; */
    margin-top: 5rem;
  }
  
  .button-container {
    background-color: #4b791c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    /* position: static; */
  }
  .alert{
    margin-top: 10px;
  }
  /* .container-but{
    position:fixed;
  } */
  .nav-link{
    color: #fff;
    background-color: #57817f;
    font-weight: 500;
  }
  .bg-steel {
    color: #fff;
    background-color: #57817f;
    text-align: center;
    /* font-weight: 700; */
  }
  .navbar{
    height: 62px;
  }
  .header-container {
    /* position: fixed; */
    max-width: 1140px !important;
  }
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffce59;
    transition: background-color 0.3s; 
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #ffce59;
  }

/* Main and form */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#content_tell_about {
    width: 80%;
    max-width: 1000px;
    border: 2.5px solid #a4cfbc;
    padding: 20px;
    margin: auto;
}

#tell_about_title {
    text-align: center;
    font-size: 26px;
    margin: 5px 0;
    margin-bottom: 20px;
    color: #ffce59
}

/* User info */

input {
    cursor: pointer; 
    border-radius: 4px; 
}

input[type="text"] {
    color: #757575
}

label {
    color: #757575;
    margin-top: 5px;
}

i {
    color: black;
    margin-left: 5px;
}

/* Default checkbox style */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #a4cfbc; 
    border-radius: 3px; 
    width: 20px; 
    height: 20px;
}

/* Checkbox when checked */
input[type="checkbox"]:checked {
    background-color: #a4cfbc;
    border-color: #a4cfbc;
}

.user_info {
    display: flex;
    flex-wrap: wrap;
}

/* Left */

.left-section {
    flex: 1 0 50%; /* Grow, shrink, basis */
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 10px;
}

#name_contact {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

#name,
#contact {
    border: 2.5px solid #a4cfbc;
    margin-bottom: 10px;
}

#sex {
    display: flex;
    flex-direction: row; 
    margin-left: 0px;
}

#sex_f, #sex_m {
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#sex_f label,
#sex_m label {
    font-size: 16px;
    margin-left: 10px;
}

#sex_f i,
#sex_m i {
    margin-left: 5px; 
    font-size: 20px;
}

/* Right */

.right-section {
    flex: 1 0 calc(20% - 20px);
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 10px;
}

#photo {
    margin-bottom: 20px;
}

#imageUpload {
    display: none;
}

#photo label {
    border: 2.5px solid #a4cfbc; 
    padding: 10px;
    cursor: pointer;
}

#photo label:hover {
    border: 2.5px solid black; 
    background-color: black;
    color: white;
    transition: background-color 0.3s; 
}

/* Hobbies */

#hobbies {
    margin-left: 40px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    flex: 1 0 50%;
}

.hobbie {
    margin-left: 0px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 0px; 
}

.hobbie  input[type="checkbox"],
.hobbie label,
.hobbie i {
    margin-right: 5px;
}

/* User interest */

/* Header */
#text_header {
    text-align: center;
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;

}

.user_interest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    padding-left: 40px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


/* Range */

.range_field {
    margin-left: 0px;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 0px; 
}

.range_field  input[type="checkbox"],
.range_field label,
.range_field i {
    margin-right: 5px;
}

.looking_for {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#looking_f,
#looking_l,
#looking_c {
    margin-right: 30px;
}

#looking_l input[type="checkbox"]:checked {
    background-color: #e888d0;
    border-color: #e888d0;
}

#looking_c input[type="checkbox"]:checked {
    background-color: #e3c47c;
    border-color: #e3c47c;
}

/* Expectation */

#expectation {
    margin-top: 20px;
    margin-left: 40px;
    border: 2.5px solid #a4cfbc;
    margin-bottom: 10px;
    width: 40%;
}

/* Agree share */

.agree_field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

#agree_share {
    margin-bottom: 10px;
}

#button_save {
    border: 2.5px solid #a4cfbc;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    transition: background-color 0.3s;
}

#button_save:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}



