<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>contact</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/contact.css">
    </head>

<body>
    <div class="nav_profile">
        <select id="profile_dropdown" onchange="navigateProfile()">
            <option value="" disabled selected>Profile</option>
            <option value="{{ url_for('view_profile') }}">View your profile</option>
            <option value="{{ url_for('logout') }}">Log out</option>
        </select>
    </div>

    <div class="match-card">
        <h2>Congratulations! You have a match!</h2>
        <h3>Your match:</h3>
        <p>Name: some text</p>
        <p>Contact: come text</p>
        <button class="search">Search again</button>
    </div>
</body>
</html>