<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap and CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />

      <link rel="stylesheet" href="../static/search.css">

    <script src="https://kit.fontawesome.com/7162acd0f0.js" crossorigin="anonymous"></script>
    <title>Search</title>
  </head>
  <body>

    <script src="../scripts/cs.js"></script>

    <!-- Navigator -->
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
          <div class="container header-container">
            <a class="navbar-brand mr-4" href="{{ url_for('main') }}">Meetlof</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarToggle"
              aria-controls="navbarToggle"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <!-- Navbar Left Side -->
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
              {% if current_user.is_authenticated %}
  
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for("login") }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for("register") }}">Register</a>
              {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
     
    <main>
        <div class="nav_profile">
            <select id="profile_dropdown" onchange="navigateProfile()">
                <option value="" disabled selected>Profile</option>
                <option value="{{ url_for("view_profile") }}">View your profile</option>
                <option value="{{ url_for("logout") }}">Log out</option>
            </select>
        </div>
        

        <div id="content_search">
            <p id="search_title"> We are looking for a match </p>

            <div class="loader"></div>

            <button id="button_stop" onClick="yourStopFunc()">
                Stop search
                 </button>

    </main>
  </body>
</html>