<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap and CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />

      <link rel="stylesheet" href="../static/tell_about.css">

    <script src="https://kit.fontawesome.com/7162acd0f0.js" crossorigin="anonymous"></script>
    <title>Tell about yourself</title>
  </head>
  <body>

    <script src="../scripts/tell_about.js"></script>

    <!-- Navigator -->
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
          <div class="container header-container">
            <a class="navbar-brand mr-4" href="{{ url_for('main') }}">Meetlof</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarToggle"
              aria-controls="navbarToggle"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <!-- Navbar Left Side -->
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
              {% if current_user.is_authenticated %}
  
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for("login") }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for("register") }}">Register</a>
              {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
     
    <main>
        <div id="content_tell_about">
            <p id="tell_about_title"> Tell about yourself! </p>

            <form onSubmit="yourOnSubmitFunc()" id="form_tell_about">

                <!-- User -->
                <section class="user_info">
                    <div class="left-section">
                        <!--  Name field -->
                        <div id="name_contact">
                            <input type="text" id="name" value="" data-default="What is your name?" onfocus="clearInputValue(this)" onblur="setDefaultText(this)">
                            <input type="text" id="contact" value="" data-default="Your contact (Telegram):" onfocus="clearInputValue(this)" onblur="setDefaultText(this)">
                        </div>

                        <!-- Sex field -->
                        <div id="sex">
                            <div id="sex_f">
                                <input type="checkbox" id="sex_female" value="SexFemale">
                                <label for="sex_female"> I am a lady </label>
                                <i class="fa-solid fa-venus"></i>
                            </div>
                           
                            <div id="sex_m">
                                <input type="checkbox" id="sex_male" value="SexMale">
                                <label for="sex_male"> I am a gentleman </label>
                                <i class="fa-solid fa-mars"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="right-section">
                        <!-- Photo field -->
                        <div id="photo">
                            <input type="file" id="imageUpload" name="imageUpload" accept="image/*"> 
                            <label for="imageUpload">You can upload photo here</label>
                        </div>
                        
                        <!-- Display uploaded photo -->
                        <div id="uploadedPhoto"></div>
                    </div>
                    
                    
               
                 <!-- Hobbies field -->
                    <div id="hobbies">
                        <div class="hobbie" id="hobbie1">
                            <input type="checkbox" id="hobbies_film" value="HobbiesFilm">
                            <label for="hobbies_film"> I am cinemaddict </label>
                            <i class="fa-solid fa-film"></i>
                        </div>
                        
                        <div class="hobbie" id="hobbie2">
                            <input type="checkbox" id="hobbies_music" value="HobbiesMusic">
                            <label for="hobbies_music"> I am music lover </label>
                            <i class="fa-solid fa-music"></i>
                        </div>
                        
                        <div class="hobbie" id="hobbie3">
                            <input type="checkbox" id="hobbies_read" value="HobbiesRead">
                            <label for="hobbies_read"> I am bookworm </label>
                            <i class="fa-solid fa-book"></i>
                        </div>
                        
                        <div class="hobbie" id="hobbie4">
                            <input type="checkbox" id="hobbies_politics" value="HobbyPolitics">
                            <label for="hobbies_politics"> I know a lot about politics </label>
                            <i class="fa-solid fa-landmark-dome"></i>
                        </div>
                       
                        <div class="hobbie" id="hobbie5">
                            <input type="checkbox" id="hobbies_sport" value="HobbySport">
                            <label for="hobbies_sport"> I am a sportsman/woman </label>
                            <i class="fa-solid fa-dumbbell"></i>
                        </div>
                        
                        <div class="hobbie" id="hobbie6">
                            <input type="checkbox" id="hobbies_procrastinate" value="HobbyProcrastinate">
                            <label for="hobbies_procrastinate"> I like to procrastinate </label>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        
                        <div class="hobbie" id="hobbie7">
                            <input type="checkbox" id="hobbies_walk" value="HobbyWalk">
                            <label for="hobbies_walk"> I am keen of promenade </label>
                            <i class="fa-solid fa-person-walking"></i>
                        </div>
                    </div>
                </section>
    
                <section class="user_interest_info">
    
                <!-- User interest -->
                <p id="text_header">Who are you looking for?</p>

                <div class="user_interest">
                    <!-- Search field -->
                    <div class="search">
                        <div id="search_f">
                            <input type="checkbox" id="search_female" value="SearchFemale">
                            <label for="search_female"> I am looking for a beautiful lady </label>
                            <i class="fa-solid fa-venus"></i>
                        </div>
                        
                        <div id="search_m">
                            <input type="checkbox" id="search_male" value="SearchMale">
                            <label for="search_male"> I am looking for a handsome gentleman </label>
                            <i class="fa-solid fa-mars"></i>
                        </div>
                    </div>
                    
                    <div class="range_field">
                        <div id="range_1">
                            <input type="checkbox" id="range_first" value="Range1">
                            <label for="range1"> 17-20 y.o. </label>
                        </div>
                       
                        <div id="range_2">
                            <input type="checkbox" id="range_second" value="Range2">
                            <label for="range2"> 20-23 y.o.</label>
                        </div>

                        <div id="range_3">
                            <input type="checkbox" id="range_third" value="Range3">
                            <label for="range3"> 23-25 y.o.</label>
                        </div>

                        <div id="range_4">
                            <input type="checkbox" id="range_fourth" value="Range4">
                            <label for="range4"> 25-27+ y.o.</label>
                        </div>
                    </div>
                </div>
                
                <!-- Looking for field -->
                <div class="looking_for">
                    <div id="looking_f">
                        <input type="checkbox" id="search_friend" value="SearchFriend">
                        <label for="search_friend"> I need a good friend </label>
                        <i class="fa-regular fa-handshake"></i>
                    </div>
                    
                    <div id="looking_l">
                        <input type="checkbox" id="search_lover" value="SearchLover">
                        <label for="search_lover"> I need a passionate lover </label>
                        <i class="fa-solid fa-hand-holding-heart"></i>
                    </div>
                    
                    <div id="looking_c">
                        <input type="checkbox" id="search_chat" value="SearchChat">
                        <label for="search_chat"> I just want to chat with someone </label>
                        <i class="fa-solid fa-hand-peace"></i>
                    </div>
                </div>
            </section>
            <div class="exp_agree">
                <!-- Expectation field -->

                <textarea id="expectation" rows="2" cols="10" data-default="What do you expect from communication?" onfocus="clearInputValue(this)" onblur="setDefaultText(this)">What do you expect from communication?</textarea>                    
                                
                <!-- Agree to share field -->
                <div class="agree_field">
                    <div id="agree_share">
                        <input type="checkbox" id="agree" value="Agree">
                        <label for="agree"> I agree to share my info </label>
                    </div>
                    <button id="button_save" onClick="yourOnSubmitFunc()">Save</button>
                </div>
            </div>
               
                
           </form>
        </div>
    </main>
  </body>
</html>